@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

.main {
    margin-top: 250px;
}

.allbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 280px;
}

button {
    border: none;
    padding: 0.5rem;
    float: left;
}

.mini-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 0.2rem solid black;
    transition: 0.3s;
    width: 32%;
    height: 7rem;
    min-width: 280px;
    border-radius: 5px;
    justify-content: center;
}

.mini-intro .responsive {
    padding: 1rem;
}

.mini-intro .text-base {
    padding: 1rem;
}

.draw-line {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.smallTable {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 32%;
    min-width: 280px;
}

.winners {
    border: 0.2rem solid black;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

td {
    text-align: center;
    width: 25%;
    padding: 0.7rem;
    display: inline-table;
}

.winners .responsive {
    width: 20px;
    height: 20px;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 32%;
    justify-content: center;
    padding: 3rem
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 280px;
    justify-content: center;
    border: 0.2rem solid black;
    border-radius: 2rem;
    padding: 0.3rem;
}

.search-bar {
    background-color: #C4C4C4;
    border: none;
    padding: 0.5rem;
    margin-left: 0.4rem;
}

.fa-search {
    cursor: pointer;
    color: #000;
}

.icon-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
    background-color: #fff;
    padding: 5px;
    justify-content: center;
}

.img-icon {
    height: 25px;
    width: 25px;
}


/* Nav */

.top {
    width: 10rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5rem;
}

.profile {
    width: 9rem;
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
    top: 4rem;
}

.line {
    width: 50%;
    color: black;
    background-color: black;
    border: 0;
    height: 0.25rem;
    position: absolute;
    left: 50%;
    top: 17rem;
    transform: translateX(-50%);
}

.logout {
    color: #999999 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 0.5rem;
    border: 0.5rem px solid #000 !important;
    border-radius: 5rem;
    display: inline-block;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 13.7rem;
    left: 72%;
    transform: translateX(-50%);
}

.logout:hover {
    color: #494949 !important;
    border-color: #494949 !important;
    border-radius: 0px;
    transition: all 0.3s ease 0s;
}


/* nav bar */

.nav {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
}

.example_e {
    border: none;
    background: #ffffff;
    color: #000000 !important;
    font-weight: 100;
    padding: 1.5rem;
    text-transform: uppercase;
    border-radius: 5rem;
    display: inline-block;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    width: 15.5rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.example_e:hover {
    color: #ffffff !important;
    background-color: black;
    font-weight: 700 !important;
    letter-spacing: 4px;
    /* background: none; */
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

.fleft {
    float: left;
}