http {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

.switch {
    display: inline-block;
    position: relative;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    background: #ff8787;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
    color: white;
}

.switch::before {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 7.1rem;
    height: 2.5rem;
    background: #000000;
    border-radius: 12rem;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

input:checked+.switch {
    background: #79ff6b;
}

input:checked+.switch::before {
    left: 7.6rem;
    background: rgb(0, 0, 0);
}

input:checked+.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}


/* ---------------------------------------- */

.can-toggle__switch {
    z-index: 100;
}